*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #22262A;
    font: 400 15px/22px 'Poppins';
}
a{
    color: inherit;
    text-decoration: none;
    transition: .4s;
}
img{
    max-width: 100%;
}
ul li{
    list-style-type: none;
}
button{
    display: block;
    border: none;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: .4s;
} 
.conteiner{
    max-width: 1140px;
    margin: 0 auto;
}
.btn {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    background-color: #22262A;
}
.banner-link a:hover {
    color: #22262A;
    background-color: #cdd8dc;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header__title{
    font-size: 28px;
    line-height: 42px;
}
.header-nav__item {
    display: inline-block;
    font-size: 18px;
    margin-right: 25px ;
}
.header-nav__item:last-child {
    margin-right: 0;
}
.header-user__item {
    display: inline-block;
    margin-right: 35px;
}
.header a:hover ,
.header button:hover{
    color: #FFFFFF;
    background-color: #22262A;
}
.banner-wrap {
    padding: 425px 0 100px;
    background: url(../img/kemp.jpg) 0%/cover no-repeat;
}
.banner {
    width: 455px;
    margin-left: auto;
}
.banner__text {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}
.banner__trend {
    font-size: 80px;
    line-height: 120px;
    font-weight: 700;
    margin-left: -3px;
}
.banner-link {
    margin-top: 27px;
}
.banner__link {
    width: 150px;
    padding: 5px 25px;
    margin-right: 34px;
}
.section {
    padding: 120px 0 0;
}
.grid {
    display: grid;
    grid-template-areas: 
    'img1 img1 img4 img4'
    'img2 img3 img4 img4';
    gap: 24px;
}
.grid__link {
    position: relative;
    min-height: 270px;
    cursor: pointer;
}
.grid__link:hover:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /50%);
}
.grid__link:nth-child(1) {
    grid-area: img1;
    background: url(../img/1111.jpg) 0%/cover no-repeat;
}
.grid__link:nth-child(2) {
    grid-area: img2;
    background: url(../img/2222.jpg) 0%/cover no-repeat;
}
.grid__link:nth-child(3) {
    grid-area: img3;
    background: url(../img/3333.jpg) 0%/cover no-repeat;
}
.grid__link:nth-child(4) {
    margin-left: 6px;
    grid-area: img4;
    background: url(../img/4444.jpg) 50% 0%/cover no-repeat;
}
.grid__name {
    position: absolute;
    left: 28px;
    bottom: 25px;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 500;
    opacity: 0;
    background-color: #fff;
}
.grid__link:hover .grid__name {
    opacity: 1;
}
.section__title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
}
.section__sub {
    margin-bottom: 65px;
    text-align: center;
}
.woomens {
    display: flex;
    justify-content: space-between;
}
.new-product__img {
    margin-bottom: 38px;
}
.new-product__brend {
    display: block;
    font-weight: 300;
    margin-bottom: 3px;
}
.new-product__text {
    display: block;
    font-weight: 600;
    margin-bottom: 3px;
}
.new-product__text:hover {
    color: #CF2929;
}

.new-product__old {
    text-decoration: line-through;
}
.new-product__new {
    color: #CF2929;
    margin-left: 20px;
}
.style {
    display: flex;
    justify-content: space-between;
    height: 700px;
}
.style1 {
    width: 49%;
    height: 100%;
    background: url(../img/41.jpg) 0% 0%/550px no-repeat;
    margin-top: 80px;
}
.style2 {
    position: relative;
    width: 49%;
    background: url(../img/42.jpg) 0% 0%/515px no-repeat;
    height: 100%;
}
.style2::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 252px;
    height: 303px;
    background: #fff url(../img/43.jpg) no-repeat 100% 100%;
}
.style__link {
    position: absolute;
    z-index: 2;
    bottom: 50px;
    margin-left: 130px;
}
.style__link:hover {
    color: #CF2929;
}